.img-user {
  border-radius: 50%;
  width: 250px;
}

.card-deck {
  .card {
    margin: 10px;
    width: 250px;
  }
  .little-text {
    font-size: 12px;
  }
}

.form {
  input,
  select,
  textarea {
    &:active,
    &:focus {
      border:none;
      box-shadow: none;
    }

    &:valid {
      border: 2px solid #17a2b8;
      box-shadow: 0 0 15px -4px #17a2b8;
      transition: all 0.5s ease;
    }

    &:invalid {
      border: 1px solid #dc3545;
      box-shadow: 0 0 8px -2px #dc3545;
    }
  }
}
